{{template "admin" .}}
{{define "css"}}
{{end}} {{define "admin_content"}}

<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div>
          <h4 class="font-weight-bold mb-0">Reservations Calendar</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="grid-margin">
        <h3 class="text-center">{{index .StringMap "this_month"}}, {{index .StringMap "this_year"}}</h3>
        <div class="calendar-buttons">
          <a class="btn btn-sm btn-outline-secondary"
            href='/admin/reservations-calendar?y={{index .StringMap "previous_year"}}&m={{index .StringMap "previous_month"}}'>
            <i class="ti-angle-double-left"></i>
          </a>
          <a class="btn btn-sm btn-outline-secondary"
            href='/admin/reservations-calendar?y={{index .StringMap "next_year"}}&m={{index .StringMap "next_month"}}'>
            <i class="ti-angle-double-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-panel ends -->

{{end}} {{define "js"}} {{end}}