{{template "admin" .}}
{{define "css"}}
<style>
  .list-wrapper {
    overflow: auto;
  }

  .remove-todo {
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
  }

  .remove-todo:hover {
    color: red;
  }
</style>
{{end}} {{define "admin_content"}}
{{$todoList := index .Data "todo_list"}}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div>
          <h4 class="font-weight-bold mb-0">Todo List</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <form action="/admin/todo-list" method="post" class="row g-3 main-form" novalidate>
              <div class="add-items d-flex my-4">
                <input type="text" name="todo_list" class='form-control {{with .Form.Errors.Get
                  "todo_list"}} is-invalid {{end}}' placeholder="Add new task" autofocus />

                <button type="submit" class="btn btn-icon text-primary bg-transparent">
                  <i class="ti-location-arrow"></i>
                </button>
              </div>

              <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
            </form>

            <div class="list-wrapper pt-2">
              <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                {{range $todoList}}
                <li>
                  <div class="form-check form-check-flat">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      {{.Todo}}
                    </label>
                  </div>
                  <i class="remove-todo ti-trash" onclick="deleteTodo({{.ID}})"></i>
                </li>
                {{end}}
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-panel ends -->

{{end}} {{define "js"}}
<script>
  function deleteTodo(id) {
    Prompt().customModal({
      title: "Are you sure you want to delete this Todo?",
      message: "",
      icon: "warning",
      callback: function (result) {
        if (result !== false) {
          window.location.href = "/admin/delete-todo/" + id
        }
      }
    })
  }
</script>
{{end}}