{{ template "base" .}} {{ define "title" }} Generals Suit | The best is yours {{
end }} {{ define "css" }}
<link href="/static/css/rooms.css" rel="stylesheet" type="text/css" />
<style>
  .swal2-actions {
    z-index: 0 !important;
  }
</style>
{{ end }} {{ define "content" }}
<!-- About section  -->
<section class="container text-center about-us">
  <img
    src="/static/images/room-images/generals-quarters.png"
    class="img-fluid"
    alt="Generals Room"
  />
  <h2 class="">Our Generals Suit</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laborum
    consequatur, unde nemo mollitia laboriosam? Fugiat, possimus dignissimos.
    Veniam dolore dolorum est delectus error dolor porro magni praesentium quae
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laborum
    consequatur, unde nemo mollitia laboriosam? Fugiat, possimus dignissimos.
    Veniam dolore dolorum est delectus error dolor porro magni praesentium quae
    unde?
  </p>
  <button id="availability" class="btn call-to-action-button">
    Check Availability
  </button>
</section>
{{ end }} {{define "js" }}
<script>
  document
    .getElementById("availability")
    .addEventListener("click", function () {
      const message = `
        <form
          id="availability-form"
          action=""
          method="POST"
          class="needs-validation"
          novalidate
        >
          <div class="form-row">
            <div class="col">
              <div class="form-row" id="reservation-dates-modal">
                <div class="col mb-3">
                  <input
                    type="text"
                    class="form-control"
                    name="start"
                    id="start"
                    placeholder="Arrival date"
                    autocomplete="off"
                    required
                    disabled
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="end"
                    id="end"
                    placeholder="Depature date"
                    autocomplete="off"
                    required
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      `;
      Prompt().customModal({
        title: "Check Availability",
        message,
        callback: () => {
          fetch("/reservation-json")
            .then((response) => response.json())
            .then((data) => console.log(data))
            .catch((err) => console.log(err));
        },
      });
    });
</script>
{{ end }}
