{{ template "base" .}} {{ define "title" }} Make a reservation {{ end }} {{
define "css" }}
<link href="/static/css/reservation.css" rel="stylesheet" type="text/css" />
{{ end }} {{ define "content" }}
<!-- Make Reservation section  -->
<section class="container contact-us">
  {{$reservation := index .Data "reservation"}}

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">
    Make Reservation
  </h2>

  <h4 class="h3-responsive font-weight-bold text-center mt-2">
    Reservation Details
  </h4>
  <p class="text-center">
    Room name: {{$reservation.Room.RoomName}}<br />
    Arrival date: {{humanDate $reservation.StartDate}}<br />
    Departure date: {{humanDate $reservation.EndDate}}
  </p>

  <div class="row">
    <!--Grid column-->
    <div class="col-md-2"></div>

    <div class="col-md-8 mb-md-0 mb-5">
      <form action="/make-reservation" method="post" class="row g-3" novalidate>
        <input type="hidden" name="room_id" value="{{$reservation.RoomID}}" />
        <input
          type="hidden"
          name="start_date"
          value='{{index .StringMap "start_date"}}'
        />
        <input
          type="hidden"
          name="end_date"
          value='{{index .StringMap "end_date"}}'
        />

        <!-- needs-validation -->
        <div class="col-md-6">
          <label for="first-name" class="form-label">First name</label>
          <input type="text" class='form-control {{with .Form.Errors.Get
          "first_name"}} is-invalid {{end}}' id="first-name" name="first_name"
          value="{{$reservation.FirstName}}" required />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            {{with .Form.Errors.Get "first_name"}} {{.}} {{end}}
          </div>
        </div>

        <div class="col-md-6">
          <label for="last-name" class="form-label">Last name</label>
          <input type="text" class='form-control {{with .Form.Errors.Get
          "last_name"}} is-invalid {{end}}' id="last-name" name="last_name"
          value="{{$reservation.LastName}}" required />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            {{with .Form.Errors.Get "last_name"}} {{.}} {{end}}
          </div>
        </div>

        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">📧</span>
            <input type="email" class='form-control {{with .Form.Errors.Get
            "email"}} is-invalid {{end}}' id="email" name="email"
            value="{{$reservation.Email}}" aria-describedby="inputGroupPrepend"
            required />
            <div class="invalid-feedback">
              {{with .Form.Errors.Get "email"}} {{.}} {{end}}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="phone" class="form-label">Phone number</label>
          <input type="number" class='form-control {{with .Form.Errors.Get
          "phone"}} is-invalid {{end}}' id="phone" name="phone"
          value="{{$reservation.Phone}}" required />
          <div class="invalid-feedback">
            {{with .Form.Errors.Get "phone"}} {{.}} {{end}}
          </div>
        </div>

        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

        <div class="col-12">
          <button
            class="btn btn-primary call-to-action-button mt-3"
            type="submit"
          >
            Make Reservation
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-2"></div>
  </div>
</section>

{{ end }}
